.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  text-align: center;
  overflow: hidden;
}

.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundImage {
  object-fit: cover;
  object-position: top;
  filter: blur(2px);
  opacity: 0.5;
}
.icon {
  margin-right: 8px;
  vertical-align: middle;
  font-size: 1.2rem;
  width: 25px;
}

.title {
  font-size: 2rem;
  color: #61ddff;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
  color: white;
  max-width: 600px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: rgba(20,20,20,0.5);
  backdrop-filter: blur(6px) saturate(120%);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-size: 1.4rem;
  color: white;
}

.text {
  font-size: 1rem;
  color: white;
}

.link {
  font-size: 1rem;
  color: #61ddff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.card, .title, .description {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fadeIn {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
