.scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #61ddff;
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .scrollButton:hover {
    background-color: #61ddff;
    transform: scale(1.1);
  }
  